<table class="table table-striped">
  <thead>
  <tr>
    <% @objs[0].class.column_names.each do |col| %>
        <th><%= col.to_s %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @objs.each do |obj| %>
      <tr>
        <% obj.attributes.each_pair do |name, value| %>
            <td><%= value %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

