<tr class="table-row-no-padding table-row-edit-url" id="url-<%= url_identifier %>" class="info">
	<td colspan=7>
		<div class="center-inline">
			<%= render 'urls/sleek_form', url: url, edit: true %>
		</div>
  </td>
</tr>
