<tr id="url-<%= id %>">
	<td colspan=5>
		<%= render 'urls/in_row_form', url: url, id: id %>
		<a href="#" class='btn btn-default cancel-new-url'>Cancel</a>
    <%= render 'urls/in_row_errors', url: url %>
	</td>
</tr>
