<% if @results %>
    <table class="table table-striped" id="search_results">
      <thead>
      <tr>
        <th>New Member Name</th>
        <th>User ID  %></th>
        <th>Admin? %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @results.each do |result| %>
          <%= render 'in_row_search_results', group: @group, :result => result %>
      <% end %>
      </tbody>
    </table>
<% else %>
no results
<% end %>
