<tr id="group-<%= id %>">
	<td colspan=4>
		<%= render 'groups/in_row_form', group: group, id: id %>
		<a href="#" class='btn btn-default cancel-new-group'>Cancel</a>
    <%= render 'groups/in_row_errors', group: group %>
	</td>
</tr>
