<header class="z-bg-umn">
  <div class="tw-relative tw-z-10 tw-max-w-[90em] tw-mx-auto tw-px-4 tw-py-16 tw-text-center">
    <h1 class="tw-text-4xl tw-text-white tw-mb-0 tw-font-semibold" data-cy="hero-title">
      <%= yield %>
    </h1>
  </div>
</header>
