<main class="error-page">
  <%
=begin%>
 <%= image_tag "goldy-in-a-hole.png", class: "error-page__image", alt: "Goldy Golpher is in a hole. Don't worry. He's okay." %> 
<%
=end%>
  <h1 class="error-page__heading">404</h1>
  <h2 class="error-page__subheading">Not Found</h2>

  <div class="error-page__message">
    <p>
      Despite our digging, we can’t seem to find what you’re looking for. This could be caused by a bad link or a mistyped URL. You could try the <a href="https://usearch.umn.edu/">University of Minnesota Search</a>.
    </p>
  </div>
</main>
