<h2><%= t('helpers.hello') %></h2>
<div>Frequently Asked Questions</div>
<div style="border-style: solid; border-width: 1px">
  <p> Q: When should I use z.umn.edu?</p>

  <p> A: We recommend using Z for cases in which you need a shortened URL for University-related content which will have some persistence - something that will be published or posted for many users to view, or for material which may need to be retyped by users.  </p>

  <p> Q: To whom is this service available?</p>

  <p> A: Anybody with a University of Minnesota X500 login may create URLs.  The URLs that are created are accessible to anyone, with no need for an X500 account.</p>

  <p> Q: Are there limitations on the use of the “custom” field?</p>

  <p> A: We reserve the right to revoke “custom” URLs if the short name is intended to defraud or deceive, or if it is in violation of the University of Minnesota <a href="http://policy.umn.edu/Policies/it/Use/ITRESOURCES.html" target="_blank">Acceptable Use</a> policy.  We recommend you avoid using custom URLs that are too generic or which may be confusing to users.</p>

  <p> Q: How long are URLs active?</p>

  <p> A: At this time, URLs never expire.</p>
</div>