div, header, footer, section, address, nav, main { box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

.visually-hidden { position: absolute; overflow: hidden; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; padding: 0; border: 0 none; }

#umnhf-h.umnhf, #umnhf-f.umnhf, #umnhf-alt.umnhf, #umnhf-uf.umnhf, #umnhf-h-ma, #umn-main { position: static; z-index: auto; top: auto; right: auto; bottom: auto; left: auto; visibility: visible; float: none; clear: none; overflow: visible; width: 100%; min-width: 0; max-width: none; height: auto; min-height: 0; max-height: none; margin: 0 auto; padding: 0; text-align: left; white-space: normal; text-decoration: none; text-indent: 0; letter-spacing: normal; text-transform: none; border: none; background: none; font: normal normal normal 14px/20px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; line-height: 20px; }

.printer { display: none; }

#skipLinks { position: absolute; left: -9999px; }

@media screen and (max-width: 1152px) { #umnhf-h.umnhf, #umnhf-f.umnhf, #umnhf-alt.umnhf, #umnhf-uf.umnhf, #umnhf-h-ma, #umn-main { width: 100%; margin: 0; } }
@media print { #umnhf-h.umnhf, #umnhf-f.umnhf, #umnhf-alt.umnhf, #umnhf-uf.umnhf, #umnhf-h-ma, #umn-main { width: 100%; margin: 0; }
  #umnhf-h .umnhf { padding: 0 15px; background-color: #fff; }
  .printer { display: block; width: 100%; background-color: #fff; }
  .printer .right { padding-bottom: 10px; text-align: right; }
  .printer .left { float: left; }
  .printer .left:after { content: asset-url("sprites/tc/D2D-print.png"); }
  #umnhf-h .umnhf { display: none; } }
#umnhf-h { zoom: 1; }
#umnhf-h.umnhf { position: relative; min-height: 64px; background-color: #7a0019; }
#umnhf-h:before, #umnhf-h:after { display: table; content: ""; }
#umnhf-h:after { clear: both; }
#umnhf-h a.umnhf:link, #umnhf-h a.umnhf:visited, #umnhf-h a.umnhf:hover, #umnhf-h a.umnhf:active { text-decoration: underline; color: #7a0019; }
#umnhf-h a.umnhf:hover { color: #669; }

#umnhf-h-mast { position: relative; min-height: 64px; margin: 0 auto; background: #7a0019; }

#umnhf-h-logo { display: block; float: left; overflow: hidden; width: 288px; height: 38px; margin: 13px 10px 13px 54px; white-space: nowrap; text-indent: 100%; background-size: 288px 67px; background: transparent asset-url("sprites/tc/D2D-gld-wht.png") 0 0 no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) { #umnhf-h-logo { background: transparent asset-url("sprites/tc/D2D-gld-wht@2x.png") 0 0 no-repeat; background-size: 288px auto; } }

#umnhf-h-ql { position: absolute; top: 8px; right: 54px; width: auto; margin: 0; list-style-type: none; color: #fff; font-weight: 100; }
#umnhf-h-ql li { margin: 0; display: inline-block; margin-left: 1.25rem; }
#umnhf-h-ql li a { text-decoration: none; font-weight: 100; color: #fff; }
#umnhf-h-ql li a:hover, #umnhf-h-ql li a:active, #umnhf-h-ql li a:focus { text-decoration: underline; }
#umnhf-h-ql span { display: inline-block; width: 12px; height: 12px; background: transparent asset-url("sprites/lock-search-wht.png") 0 0 no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) { #umnhf-h-ql span { background: transparent asset-url("sprites/lock-search-wht.png") 0 0 no-repeat; background-size: 22px 34px; background-position: 0 0; } }

#umnhf-m-search { display: none; }

#umnhf-h-search { position: absolute; top: 30px; right: 54px; width: 249px; height: 22px; }
#umnhf-h-search label.umnhf { display: none; }

.mobile input[type="text"] { -webkit-appearance: none; -moz-border-radius: 0; border-radius: 0; }

#umnhf-h-st { position: absolute; right: 30px; width: 175px; height: 22px; padding-left: 3px; cursor: text; color: #8a8a8a; border: 0; background-color: #fff; font-size: 0.77778rem; line-height: 18px; -webkit-appearance: none; -moz-border-radius: 0; border-radius: 0; }

#umnhf-h-sb { position: absolute; top: 0; right: 0; overflow: hidden; width: 22px; height: 22px; cursor: pointer; white-space: nowrap; color: #7a0019; border: 0; font: bold 0.925em/1.35em arial,helvetica,clean,sans-serif; background: transparent asset-url("sprites/lock-search-wht.png") 0 -12px no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) { #umnhf-h-sb { background: transparent asset-url("sprites/lock-search-wht.png") 0 -12px no-repeat; background-size: 22px 34px; } }

@media (max-width: 775px) { #umnhf-h-logo { margin-left: 17px; }
  #umnhf-h-ql { display: none; }
  #umnhf-h-search { right: 17px; } }
@media screen and (max-width: 674px) { #umnhf-h-search { width: 184px; } }
@media all and (max-width: 609px) { #umnhf-h-mast { height: 35px; min-height: 50px; }
  #umnhf-h-logo { margin: 17px 0 0 17px; }
  #umnhf-h-cl, #umnhf-h-ql { display: none; }
  #umnhf-h-search { position: relative; top: auto; right: auto; display: block; width: 226px; margin: 10px 0 10px 17px; }
  #umnhf-h-mast { position: relative; height: 50px; background-position: left bottom; }
  #umnhf-h-logo { display: block; background-position: 0 -38px; height: 29px; width: 246px; }
  #umnhf-h-search.mobile { position: relative; top: auto; right: auto; display: block; width: 225px; height: 30px; margin: 10px 0 5px 17px; }
  #umnhf-h .umnhf-m-cancel { color: #404d5b; }
  #umnhf-h-st { display: block; width: 192px; }
  #umnhf-h-sb { right: 0; display: block; } }
@media all and (max-width: 380px) { #umnhf-m-search .mobile { position: absolute; top: 13px; right: 10px; left: auto; width: auto; height: auto; -moz-border-radius: 4px; border-radius: 4px; }
  #umnhf-m-search { right: 10px; } }
/* Alternate Header Styles */
#umnhf-alt.umnhf { min-height: 184px; }
#umnhf-alt.umnhf #umnhf-alt-sn { float: left; }

#umnhf-alt-sn { width: 70%; padding-left: 54px; }
#umnhf-alt-sn h2 { margin: 35px 0 0 0; padding: 0; color: #404d5b; font: normal normal normal 30px/40px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; }
#umnhf-alt-sn p { margin: 0 0 15px 0; padding: 0; color: #8a8a8a; font: normal normal normal 20px/26px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; }

#umnhf-alt-n { float: right; width: 30%; height: 184px; padding-right: 54px; }
#umnhf-alt-n ul { height: 184px; padding: 0; list-style-type: none; text-align: right; font-weight: 300; }
#umnhf-alt-n li { display: inline-block; width: 50%; text-align: left; }
#umnhf-alt-n a { display: inline-block; box-sizing: border-box; width: 100%; font-weight: 300; padding: 0.5em; line-height: 20px; }
#umnhf-alt-n a:link, #umnhf-alt-n a:active, #umnhf-alt-n a:visited { -webkit-transition: background-color 0.3s,border-color 0.3s; transition: background-color 0.3s,border-color 0.3s; text-decoration: none; color: #404d5b; border-bottom: none; font-size: 16px; }
#umnhf-alt-n a:hover, #umnhf-alt-n a:focus { background-color: #dbdbdb; }
#umnhf-alt-n a.active { color: #7a0019; font-weight: 500; background-color: #f0efee; }
#umnhf-alt-n a.active:hover { background-color: #dbdbdb; }

.display-after-menu-collapse.umnhf { display: none; }
@media (max-width: 775px) { .display-after-menu-collapse.umnhf { display: block; width: 100%; cursor: pointer; text-align: center; color: #fff; background-color: #404d5b; font: 300 normal normal 28px/50px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; } }

@media screen and (max-width: 1152px) { #umnhf-alt.umnhf { width: 100%; padding: 0; }
  #umnhf-alt-sn { width: 60%; }
  #umnhf-alt-n { width: 40%; } }
@media (max-width: 775px) { #umnhf-alt.umnhf { min-height: auto; }
  #umnhf-alt-sn { padding-left: 17px; width: 100%; }
  #umnhf-alt-n { display: none; float: none; width: 100%; height: auto; padding: 0; }
  #umnhf-alt-n ul { width: 100%; height: auto; margin: 0; }
  #umnhf-alt-n ul li { display: block; width: 100%; text-align: center; }
  #umnhf-alt-n ul li:nth-child(odd) { background-color: #f9f9f9; }
  #umnhf-alt-n ul a { line-height: 40px; } }
/* Unit footer styles */
#umnhf-uf.umnhf { position: relative; bottom:0; width:100%; height:100px; overflow: hidden; border-top: 1px solid #f0efee; }
#umnhf-uf a:hover, #umnhf-uf a:active, #umnhf-uf a:focus { text-decoration: underline; }
#umnhf-uf p { margin: 0; }
#umnhf-uf p, #umnhf-uf a, #umnhf-uf li, #umnhf-uf h3 { text-decoration: none; color: #404d5b; }
#umnhf-uf h2.umnhf-f-title { margin: 0 0 15px; padding: 16px 8px 16px 54px; text-transform: uppercase; color: #404d5b; border-bottom: 1px solid #dbdbdb; font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; font-size: 16px; font-weight: normal; }
#umnhf-uf h3.umnhf-f-title, #umnhf-uf p.umnhf-f-title { margin: 0; text-transform: uppercase; color: #404d5b; font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; font-size: 14px; font-weight: bold; }

#umnhf-uf-ci, #umnhf-uf-sm { float: left; clear: both; width: 40%; padding: 0 0 0 54px; font-style: normal; }

#umnhf-uf-ci { margin-top: 10px; }
#umnhf-uf-ci p { line-height: 1.5rem; }
#umnhf-uf-ci abbr { border-bottom: 0; }

#umnhf-uf-sm { width: 40%; margin: 10px 0; }
#umnhf-uf-sm ul { margin: 0; padding: 0; }
#umnhf-uf-sm ul li { display: inline-block; width: 16px; height: 16px; margin: 0 5px; background: asset-url("sprites/social.png") no-repeat; background-size: 160px 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) { #umnhf-uf-sm ul li { background: asset-url("sprites/social@2x.png") no-repeat; background-size: auto 16px; } }
#umnhf-uf-sm ul li:first-child { margin-left: 0; }
#umnhf-uf-sm ul li.facebook { background-position: 0 0; }
#umnhf-uf-sm ul li.twitter { background-position: -16px 0; }
#umnhf-uf-sm ul li.google-plus { background-position: -32px 0; }
#umnhf-uf-sm ul li.linkedin { background-position: -48px 0; }
#umnhf-uf-sm ul li.youtube { background-position: -64px 0; }
#umnhf-uf-sm ul a { display: inline-block; width: 16px; height: 16px; transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s; opacity: 1; filter: alpha(opacity=100); }
#umnhf-uf-sm ul a:hover, #umnhf-uf-sm ul a:focus { border-color: transparent; background-color: #eaecef; opacity: 0.75; filter: alpha(opacity=75); }

#umnhf-uf-ul { position: absolute; top: 0; right: 0; width: 40%; padding-right: 54px; }
#umnhf-uf-ul ul { float: right; margin: 0; padding: 30px 0 5px 0; list-style-type: none; text-align: right; }
#umnhf-uf-ul ul li { line-height: 1.5rem; }

@media (max-width: 775px) { #umnhf-uf-ci, #umnhf-uf-sm { padding-left: 17px; }
  #umnhf-uf-ul { padding-right: 17px; } }
@media screen and (max-width: 750px) { #umnhf-uf-ci { width: 50%; } }
@media all and (max-width: 609px) { #umnhf-uf-ci, #umnhf-uf-ul, #umnhf-uf-sm { display: block; float: none; width: 100%; }
  #umnhf-uf-ul { position: relative; }
  #umnhf-uf-ul ul { padding-top: 0; }
  #umnhf-uf-ul ul li { line-height: 3rem; }
  #umnhf-uf-ul ul { float: none; padding-left: 17px; text-align: inherit; } }
#umnhf-f.umnhf { margin: 5px auto; border-top: 1px solid #f0f0f0; padding: 15px 0 0 0; }
#umnhf-f a:hover, #umnhf-f a:active, #umnhf-f a:focus { text-decoration: underline; }
#umnhf-f a, #umnhf-f li, #umnhf-f h3 { text-decoration: none; color: #404d5b; }
#umnhf-f .f-sfs { display: none; }
#umnhf-f .f-sfs span { display: inline-block; width: 12px; height: 12px; background: transparent asset-url("sprites/lock-search-g.png") 0 0 no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) { #umnhf-f .f-sfs span { background: transparent asset-url("sprites/lock-search-g@2x.png") 0 0 no-repeat; background-size: 22px 34px; } }
#umnhf-f .umnhf-f-cl { float: left; box-sizing: border-box; width: 25%; height: 190px; padding: 5px; }
#umnhf-f #umnhf-f-myu { display: none; }
#umnhf-f ul, #umnhf-f p { margin: 0 0 16px 0; padding: 0; list-style: none; color: #404d5b; }
#umnhf-f .umnhf-f-title { text-transform: uppercase; color: #404d5b; font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; }
#umnhf-f h2.umnhf-f-title { margin: 0 -54px 15px -54px; padding: 16px 8px 16px 54px; text-transform: uppercase; color: #404d5b; border-bottom: 1px solid #dbdbdb; font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; font-size: 16px; font-weight: normal; }
#umnhf-f h3.umnhf-f-title { margin: 0; text-transform: uppercase; color: #404d5b; font-family: Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; font-size: 14px; font-weight: bold; }
#umnhf-f small { display: block; padding: 5px 54px; text-align: center; font-size: 0.8rem; line-height: 1rem; }
#umnhf-f small a:link, #umnhf-f small a:active, #umnhf-f small a:visited { color: #404d5b; text-decoration: underline; }

@media (max-width: 775px) { #umnhf-f.umnhf h2.umnhf-f-title { margin: 0; padding-left: 27px; }
  #umnhf-f.umnhf .umnhf-f-cl { display: block; width: 100%; height: auto; margin: 0 0 15px 0; padding: 0; }
  #umnhf-f.umnhf .umnhf-f-cl ul li a { display: block; width: 100%; padding: 5px 0; line-height: 2.5em; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title { max-width: 768px; margin: 0 auto; padding: 15px 17px; cursor: pointer; -webkit-transition: background-color 0.3s,border-color 0.3s; -moz-transition: background-color 0.3s,border-color 0.3s; transition: background-color 0.3s,border-color 0.3s; text-align: left; border-bottom: 1px dotted transparent; font-size: 16px; font-size: 0.88889rem; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title + ul { display: none; margin: 0; padding: 1em 1.6875rem; background-color: #f9f9f9; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title:before { float: right; min-width: 1em; margin-left: 5px; text-align: center; font-size: 1.5em; font-weight: normal; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-closed:before { content: "+"; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-opened { border-color: #eaecef; background-color: #f0f0f0; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-opened:hover, #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-opened:focus { border-color: #d5d6d2; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-opened:before { content: "-"; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title.umnhf-f-title-opened:after { clear: both; content: ""; }
  #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title:hover, #umnhf-f.umnhf .umnhf-f-cl .umnhf-f-title:focus { background-color: #eaecef; }
  #umnhf-f.umnhf .umnhf-f-cl p { margin: 1rem 1.6875rem; }
  #umnhf-f small { padding: 5px 17px; }
  #umnhf-f #umnhf-f-myu { display: block; }
  #umnhf-f #umnhf-f-myu ul { padding-left: 17px; line-height: 3rem; }
  #umnhf-f #umnhf-f-myu ul span { display: inline-block; width: 12px; height: 12px; background: transparent asset-url("sprites/lock-search-g.png") 0 0 no-repeat; } }
@media only screen and (max-width: 775px) and (-webkit-min-device-pixel-ratio: 1.25), (max-width: 775px) and (min-resolution: 192dpi) { #umnhf-f #umnhf-f-myu ul span { background: transparent asset-url("sprites/lock-search-g.png") 0 0 no-repeat; background-size: 22px 34px; } }

@media screen and (min-width: 660px) and (max-width: 979px) { #umnhf-f h2.umnhf { float: right; width: 100%; margin: 0; } }
@media screen and (max-width: 659px) { #umnhf-f #umnhf-f-cl { width: 260px; }
  #umnhf-f-cl { display: none; }
  #umnhf-f-bp li { display: inline; } }
@media all and (max-width: 609px) { #umnhf-f.umnhf { margin: 0 auto; }
  #umnhf-f #umnhf-f-myu { display: block; }
  #umnhf-f #umnhf-f-myu ul { padding-left: 17px; line-height: 3rem; }
  #umnhf-f #umnhf-f-myu ul span { display: inline-block; width: 12px; height: 12px; background: transparent asset-url("sprites/lock-search-g.png") 0 0 no-repeat; } }
@media all and (max-width: 609px) and (min-resolution: 192dpi) { #umnhf-f #umnhf-f-myu ul span { background: transparent asset-url("sprites/lock-search-g@2x.png") 0 0 no-repeat; background-size: 22px 34px; } }

@media all and (max-width: 609px) { #umnhf-uf-ul ul { padding-bottom: 0; } }
