.app-nav {
  // --text-color: var(--gray);
  margin-bottom: 0;
  // color: var(--text-color);
  line-height: 1;
  border: 0;
  border-radius: 0;
  .navbar-brand {
    display: flex;
  }
  .selected {
    border-left: 0.25rem solid var(--maroon);
  }

  // extra classes to override bootstrap specificity
  &.navbar.navbar-default .selected a {
    color: var(--maroon);
  }

  @media (min-width: 768px) {
    .selected {
      border-left: none;
      border-bottom: 0.25rem solid var(--maroon);
    }
  }
}



.app-nav__name {
  align-items: center;
  color: var(--maroon);
  font-size: 2rem;
  margin-right: 0.75rem;
  font-weight: bold;
}
.app-nav__description {
  font-size: 1rem;
  color: #aaa;
}