$heroImageUrl: "umn-pano.jpg";
$primaryColor: #3687c5;

// brand colors
:root {
  --gold: #fc3;
  --gold-light: #ffde7a;
  --gold-header: #ffd75f;
  --gold-dark: #ffb71e;

  --maroon: #7a0019;
  --maroon-light: #900021;
  --maroon-dark: #4d0010;
  --maroon-darker: #5b0013;

  --green: #58a616;
  --orange: #e37222;
  --blue: #00759a;

  --black: #000;
  --gray-darker: #333;
  --gray-dark: #5a5a5a;
  /* --stormy: #404d5b; */
  --gray-medium: #777677;
  /* --sf-shadow: #8a8a8a; */
  --gray: #ccc;
  --gray-light: #d5d6d2;
  --gray-lighter: #eee;
  --gray-lightest: #f0efee;
  /* --off-white: #f9f7f6; */
  --white: #fff;
}