.group-name {
  font-size: 1.2em;
  color: #428BCA;
}
.group-description {
  font-size: 0.9em;
}
#groups-table.table > tbody > tr > td {
     vertical-align: middle;
}

#groups-table.table td:first-child, #groups-table.table th:first-child {
  padding-left: 15px;
}
