/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$gray: #aaa;
$grayLight: #bbbbbb;
$grayMediumLight: #a4a4a4;
$grayDarker: #8c8c8c;
$goldieGold: #FFD700;
$goldieMaroon: #800000;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.2em;
}

.bold{
  font-weight:bold;
}
/* header */

#logo {
  float: left;
  margin-left: 15%;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  border-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  font-size: 16px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 20px;
  color: #000;
}

.navbar-inverse .navbar-nav > li.dropdown.open > a {
  background-color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $grayLight;
}

.jumbotron {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:transparent !important;
}

.jumbotron h1, .h1 {
  font-size: 30px;
}

.jumbotron p, .p {
  font-size: 20px;
}


.jumbotron a, .a {
  color: #2FA4E7;
}


/*
in case Monica asks to make visited links on jumbotron more visible,
though the color below doesn't improve much.
.jumbotron > a, a:visited, a:focus {
  color: #033C73 !important;
}
*/

#nav-stacked {
  color: #fff;
  float: right;
  width: 190px;
  margin-right: -110px;
}

#nav-stacked2 {
  color: #fff;
  float: right;
  width: 190px;
  margin-top: 160px;
  margin-right: -190px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: #fff;
    color: #000;
}

.nav-pills > li > a {
  color: #000;
}

/* buttons */

.btn-info {
  color: #fff;
  background-color: #033C73;
  border-color: #033C73;
}

/*
.btn-primary {
  color: #fff;
  background-color: $goldieGold;
  border-color: #033C73;
}
*/


.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #FECB45;
  border-color: #FECB45;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
  margin-right: 10%;
}

.btn-primary {
  color: #fff;
}

.btn-primary.disabled{
  background-color: $grayLight;
  border-color: $grayDarker;
}

/* tables */

.table {
}

/* hero unit */

.hero-unit a#home_link, a#home_link:visited {
  color: #2FA4E7;
}

.hero-unit {
  margin-left: 5%;
  margin-right: 5%;
}

#left_text {
  text-align: left;
  font-size: 1em;
  margin-right: 75px;
}
#left_text h2 {
  text-align: left;
}

/* editable content */

#editable_content {
  margin-left: 15%;
  margin-right: 10%;
}

#content a:hover {
  color: orange;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
    &:visited {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}

#footer_title {
  padding-left: 15px;
}

/* misc */
.form-horizontal  {
  margin-left: -30px;
}

.radio-inline {
  margin-left: 20px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#welcome {
  margin-left: 0;
  height: 440px;
  margin-right: 75px;
}

#student_search {
  margin-left: 150px;
  margin-right: auto;
  width: 100%;
}

.sign-in-out {
  float: right;
  margin-right: 40px; /*set margin this way in your custom styesheet*/
}

.table-path {
  width: 50%;; /*set margin this way in your custom styesheet*/
}

.cla-header{color:#FFCD00;background-color:#2C2425;width:100%;}
.cla-header a h1{color:white;}
.cla-header h1{font-size:2rem;margin-top:.5rem;margin-bottom:.5rem;}
.cla-header h1 a{color:white;}
.cla-header .main-swooshes{display:block;height:57px !important;}
@media only screen and (max-width:20em){.cla-header h1{display:none;}}
@media only screen and (min-width:20.063em) and (max-width:40em){.cla-header h1{display:none;}}
@media only screen and (min-width:40.063em) and (max-width:64em){.cla-header h1{display:none;}}
.cla-header .swooshes,.cla-header .main-swooshes,.cla-header .unit-swooshes{background:#2C2425;height:35px;}
.cla-header .swooshes div.left,.cla-header .main-swooshes div.left,.cla-header .unit-swooshes div.left,.cla-header .swooshes .view-news-listing div.field-feature-image,.view-news-listing .cla-header .swooshes div.field-feature-image,.cla-header .main-swooshes .view-news-listing div.field-feature-image,.view-news-listing .cla-header .main-swooshes div.field-feature-image,.cla-header .unit-swooshes .view-news-listing div.field-feature-image,.view-news-listing .cla-header .unit-swooshes div.field-feature-image{margin-left:15px;}
.cla-header .swooshes div.right,.cla-header .main-swooshes div.right,.cla-header .unit-swooshes div.right{margin-right:8px;}
.cla-header .swooshes .logo,.cla-header .main-swooshes .logo,.cla-header .unit-swooshes .logo{position:relative;top:15px;width:220px;margin-left:54px;}
@media only screen and (min-width:64.063em){.cla-header .swooshes .logo,.cla-header .main-swooshes .logo,.cla-header .unit-swooshes .logo{top:15px;width:300px;}}
.cla-header .swooshes .unit-cla-lead,.cla-header .main-swooshes .unit-cla-lead,.cla-header .unit-swooshes .unit-cla-lead{position:relative;top:12px;margin-right:15px;font-size:.8rem;display:none;}
@media only screen and (min-width:64.063em){.cla-header .swooshes .unit-cla-lead,.cla-header .main-swooshes .unit-cla-lead,.cla-header .unit-swooshes .unit-cla-lead{display:inline-block;top:15px;}}
// @media only screen{.cla-header .main-swooshes{display:none;width: 100%;}}
@media only screen and (min-width:64.063em){.cla-header .main-swooshes{display:block;height:57px;}}
@media only screen and (max-width:20em){.cla-header .unit-swooshes .unit-cla-lead{display:none;}}
@media only screen{.cla-header .unit-swooshes{display:block;}.cla-header .unit-swooshes div.right{float:left !important;margin-left:15px;}}
@media only screen and (min-width:64.063em){.cla-header .unit-swooshes{height:57px;}.cla-header .unit-swooshes div.right{float:right !important;margin-right:8px;}}
.element-invisible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;}.element-invisible.element-focusable:active,.element-invisible.element-focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;}

.navbar-header {
    background-color: #000;
    width:110%;
    margin-left: -20px !important;
}

.icon-bar {
    background-color: #fff;
}

.language_title {
  font-size:3rem;
  text-align: center;
  height: 90px;
  line-height: 20px;
}

.field_with_errors {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 0px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 4px;
}

#edit_button > a {
  color:#fff;
  text-decoration: none;
}

footer#umnhf-f.umnhf {
  position:fixed;
  bottom:0;
  background: white;
  margin: 0;
  padding-bottom: 10px;
  z-index:5;
}

div.container {
  height: 100%;
  margin-bottom:60px;
}

div.dataTables_wrapper{
  table{
    tbody{
      a{
        margin-bottom:5px;
      }
      td{
        word-break: break-word;
      }
      tr.selected{
        a{
          color:white;
        }
        a.btn-default{
          color:black;
        }
      }
    }
  }
}
.dataTables_length{
  display:none;
}
.table{
  a.btn{
    margin-bottom:3px;
  }
  form{
    a, input{
      margin:3px 0;
    }
  }
}

.container-fluid{
  padding:0;
}

.input-wrapper{
  margin-bottom:15px;
  font-size:13px;
  label{
    display:block;
    font-size:12px;
    font-weight:5x00;
    margin-bottom:0px;
  }
}

@media (min-width: 768px){
  .keyword-input-wrapper, .input-wrapper{
    display:inline-block;
    vertical-align:middle;
  }
  .input-wrapper{
    margin-right:15px;
  }
}

.navbar-default{
  margin:10px 0 20px;
  font-size:14px;
  .navbar-collapse{
    padding-left:0;
  }
  .navbar-right{
    margin-right: -15px;
    float: right !important;
  }
  .navbar-left{
    float:left !important;
    margin-left: 15px;

  }
  .navbar-nav>li {
    padding:0;
    margin-right:20px;
    float:left;
    &.selected{
      border-bottom:2px solid #428bca;
    }
    > a{
      padding:10px;
      display:inline-block;
    }
    &:hover, &:focus{
      cursor:pointer;
      >a{
        color: #000;
      }
    }

  }
}
.page-header{
  border-bottom:none;
  margin:70px 0px 30px;
}
@media screen and (max-width: 530px){
  .btn{
    font-size:12px !important;
  }
}
.btn.fa{
  font:inherit !important;
  -webkit-font-smoothing: auto;
  &::before{
    font:normal normal normal 14px/1 FontAwesome;
    margin-right:3px;
    font-size:inherit;
  }
}
.inline-children{
  > *{
    display:inline-block;
  }
}
.inline-children-middle{
  > *{
    display:inline-block;
    vertical-align: middle;
  }
}
.traffic-stats-header{
  > *{
    display:inline-block;
    vertical-align: middle;
  }
  h3{
    margin:0;
  }
  margin:15px 0;
}

.cla-header{
  .row{
    margin:auto;
  }
  .main-swooshes{
    .logo{
      top:18px !important;

    }
  }
  .navbar-nav{
    margin:0;
  }
  .navbar-default{
    display:inline-block;
    float:right;
    background:transparent;
    color:white;
    border:none;
    margin-top:0;
    margin-bottom:0;
  }
  .navbar-default .navbar-nav>li>a{
    color:white;
    font-size:12px;
    padding: 19px 13px 16px;


    &:hover{
      color:#d8d8d8
    }
  }
  .navbar-default .navbar-nav > li.selected {
    border-bottom: 2px solid white;
  }
  .panel-pane{
    height:100%;

  }
  .pane-cla-glue-logo-pane{
    .logo-text{
      display:none;
      &:before{
        content:'CLA';
        display:inline-block;
        height:57px;
        line-height:57px;
        color:#feca45;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .logo{
      // display:none;
      margin-left:0;
    }
  }
}
.home-page-content-wrapper{
  margin-top:280px;
}
@media only screen and (max-width:590px){
  .cla-header{
    .pane-cla-glue-logo-pane {
      .logo{
        display:none;
      }
      .logo-text{
        display: inline-block;
      }
    }
  }
}
