.url {
	display: inline;
}
.field_with_errors {
	display: inline;
}
.field_with_errors input {
	background-color: #FFC7C7;
}
.error-space {
  color: #d00425;
}

#chart_div {
  margin-top: 15px;
}

/* Give some space to the transfer buttons on the URL page */
.dataTables_wrapper .col-sm-6 > :last-child {
  margin-left:10px;
}

 /* Fix bootstrap modal padding issue  */
.modal-open {
  padding-right: 0 !important;
}

#regions-div {
  height: 350px;
}

#regions-pie-div {
  height: 350px;
}
