.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.min-h-screen {
  min-height: 100vh;
}

.debug-blue {
  border: 1px solid blue;
}

.debug-red {
  border: 1px solid red;
}
