  <header class="system-header" role="banner">
    <div class="container">
        <div class="system-header__wordmark">
          <a href="https://www.umn.edu">
          <%= image_tag "umnhf-campus-tc-dtd-maroon-fixed.svg", alt: "Wordmark of the University of Minnesota" %>
          </a>
        </div>

        <ul class="system-header__tools">
          <li class="hidden-xs">
            <a href="https://www.myu.umn.edu"><i class="fa fa-lock"></i> MyU</a>
          </li>
          <li class="hidden-xs"><a href="https://onestop.umn.edu">One Stop</a></li>
          <li>
            <form class="umn-search" action="https://search.umn.edu/tc/" method="get" title="Search Websites and People" role="search">
              <label for="umn-search__input" class="sr-only">Search</label>
              <input class="umn-search__input" type="search" name="q" id="umn-search__input" aria-label="Search through site content" placeholder="Search UMN" 
              /><button type="submit" class="umn-search__button" aria-label="University of Minnesota Search"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
            </form> 
          </li>
        </ul>

        <%# <div class="system-header__search umn-search">

        </div> %>
    </div>
  </div>

  </header>
