<footer id="page-footer">
	<div class="regions-2-only">
		<div class="region-container">
			<div class="region-1 ">
				<div class="panel-pane pane-cla-glue-unit-social-pane">
					<h1 class="pane-title">Connect</h1>
					<div class="connect-info">
						<span><i class="fa fa-envelope"></i>
  <div class="field-email">
    <a href="mailto:latis@umn.edu">latis@umn.edu</a>  </div>
</span>
						<span><i class="fa fa-phone"></i><a href="tel:6126251010">612-625-1010</a></span>
					</div>
					<p class="social">
						<a href="https://twitter.com/UMNLATIS" target="_blank"><i class="fa fa-twitter fa-lg"><span>LATIS on Twitter</span></i></a>
						<a href="https://www.youtube.com/channel/UCrOHkMLsXDlXuqMKXkSb5Rw" target="_blank"><i class="fa fa-youtube-play fa-lg"><span>Visit LATIS on YouTube</span></i></a>
					</p>
				</div>
			</div>
			<div class="region-2 ">
				<div class="panel-pane pane-cla-glue-unit-give-pane">
					<h1 class="pane-title">Need Immediate Technology Help?</h1>
					<div class="field-campus-address">
						UMN Technology Help
						<div class="connect-info">
							<div class="street-block">
								<span><i class="fa fa-phone"></i><a href="tel:6123014357">612-301-4357 (1-HELP)</a></span>
							</div>
							<div>
							<span><i class="fa fa-envelope"></i>
								<div class="field-email">
										<a href="mailto:help@umn.edu">help@umn.edu</a>  </div>
							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="region-container">
			<div class="region-3 ">
			</div>
			<div class="region-4 ">
				<div class="panel-pane pane-cla-glue-unit-contact-pane">
					<img alt="College of Liberal Arts" class="logo" src="<%= image_path("CLAwordmark_DarkGray.svg") %>">
          Liberal Arts Technologies and Innovation Services
					<div class="field-campus-address">
						110
						<a href="http://www1.umn.edu/twincities/maps/AndH" target="_blank">Anderson Hall</a>
						<div class="field-street-address">
							<div class="street-block">
								<div class="thoroughfare">257 19th Ave. S</div>
							</div>
							<div class="addressfield-container-inline locality-block country-US"><span class="locality">Minneapolis</span>, <span class="state">MN</span> <span class="postal-code">55455</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>