<footer id="umnhf-f" class="system-footer" role="contentinfo">
  <div class="container" >
    <p>
      © <span id="cdate"><%= Date.current.year %></span> Regents of the University of Minnesota. All rights reserved.
    </p>
    <p>The University of Minnesota is an equal opportunity educator and employer.</p> 
    <p><a href="http://privacy.umn.edu">Privacy Statement</a></p>
  </div>
</footer>
