<footer id="umnhf-f" class="umnhf" role="contentinfo">
    <nav id="umnhf-f-myu">
        <h3 class="umnhf-f-title visually-hidden">For Students, Faculty, and Staff</h3>
        <ul>
            <li><a href="http://onestop.umn.edu/">One Stop</a></li>
            <li><a href="https://www.myu.umn.edu/">My U <span></span></a></li>
        </ul>
    </nav>
    <small>© <span id="cdate">2017</span> Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer. <a href="http://privacy.umn.edu">Privacy Statement</a></small>
</footer>